body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #F5E7C6;
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: white;
    padding: 10px;
}

p{
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-size: 20px;

}

#banner{
    width: 100%;
    height: 150px;
    border: none;
}

#foto{
    width: 100%;
    height: 450px;
    margin-top: 0;
    border: none;
}

iframe{
    width: 100%;
    height: 800px;
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

li{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}